mixin sEvolution(data)
	// start sEvolution
	.bg-white
		+b.SECTION.sEvolution.section.bg-white.d-none.d-lg-block#sEvolution&attributes(attributes)
			.container
				+b.section-title.text-center
					h2 Посмотрите эволюцию развития системы канализации
					p А в каком веке живете вы?
				+e.inner
					+e.item
						+e.item-title Куст
						+e.item-text 5000 лет <br> назад
						
					+e.item
						+e.item-title Выгребная <br>  яма
						+e.item-text 2000 лет <br> назад
					+e.item
						+e.item-title Накопительный <br>  септик
						+e.item-text  500 лет <br>  назад
					+e.item
						+e.item-title Септик с почвенной <br> доочисткой
						+e.item-text 1950 год
					+e.item
						+e.item-title Станция глубокой  <br> очистки
						+e.item-text  Наше время
				+e.img-wrap 

					+pic('evo.png','',0)
	// end sEvolution