mixin sEvolution(data)
	// start sEvolution
	.bg-white
		+b.SECTION.sEvolution.section.bg-white.d-none.d-lg-block#sEvolution&attributes(attributes)
			.container
				+b.section-title.text-center
					h2 Посмотрите эволюцию развития системы канализации
					p А в каком веке живете вы?
				+e.img-wrap 
					+pic('evo.png','',0)
	// end sEvolution