
mixin modal() 
	//  start modals

	+b.modal-win(id="modal-call" class=" " style="display: none" )
		+form-wrap
			
			+input("Ваше Имя")(required)  
			+e.BUTTON.btn.btn(type="submit"  ) 
			+polite()
	// #modal-call
	
	// end modals