mixin Scomfort2(data)
	// start Scomfort2
	+b.SECTION.Scomfort2.section#Scomfort2&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Всего #[span 4 дня] до комфорта на Вашем загородном участке
				p Все работы выполняются специалистами нашей компании, без привлечения подрядных организаций.
			ol 
				li: div #[a(href="#") Звоните] или #[a(href="#") оставляете заявку] на&nbsp;сайте. Менеджер согласует с&nbsp;вами время и&nbsp;дату визита инженера
				li: div #[strong Инженер] выезжает к&nbsp;вам и&nbsp;#[strong делает расчет] сметы с&nbsp;учетом особенностей участка
				li: div #[strong Монтаж] канализационной системы #[strong за&nbsp;7,5 часов] осуществляет квалифицированная бригада
				li: div Вы&nbsp;#[strong наслаждаетесь комфортом] в&nbsp;своем загородном доме и&nbsp;отдыхаете на&nbsp;свежем воздухе
	// end Scomfort2