mixin sNeedHelp(data)
	// start sNeedHelp
	+b.SECTION.sNeedHelp.section#sNeedHelp
		.container
			.row
				.col-xl-auto&attributes(attributes)
					+e.banner
						+e.title Мы&nbsp;работаем с&nbsp;2011&nbsp;года
						p Гарантируем высокое качество услуг, не&nbsp;срываем сроки и&nbsp;знаем как сэкономить нашим клиентам минимум 8000руб.&nbsp;с&nbsp;каждого монтажа станции
						img(src="img/@2x/need-help.png", alt="")
				.col
					+form-wrap
						+b.section-title
							h2 Нужна помощь специалиста?
							p Наши специалисты с&nbsp;радостью проконсультируют вас и&nbsp;подберут наилучшее предложение
						.row
							.col-lg-4
								+input('','text',"Имя")
							.col-lg-4
								+input('','tel',"Телефон")
							.col-lg-4
								button.btn.btn-success.w-100(type="submit") мне нужна помощь
						+e.polite При отправке данных вы принимаете #[a(href="#") политику конфиденциальности]

	// end sNeedHelp