mixin sComfort(data)
	// start sComfort
	+b.SECTION.sComfort.section#sComfort&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 За #[span 12 лет] мы помогли обрести комфорт загородного проживания для #[span 24 000 семей]
			.row
				mixin item(i,t,p)
					+e.col.col-lg-6 
						+e.item
							+pic(`comfort-${i}.png`,'',0)
							div
								h5!= t
								p!= p 
								block
				+item(`1`,`Все модели имеют сертификаты, а&nbsp;производители лицензии`,`Продукция соответствует <br> ГОСТ 9480-2012`)

				+item(`2`,`7,5 часов в&nbsp;среднем уходит только на&nbsp;монтаж`,`Стандартная установка септика нашими специалистами занимает 1&nbsp;день`)
				+item(`3`,`Наши специалисты`,`Официально трудоустроены, каждые 6&nbsp;мес. проходят обучение и&nbsp;аттестацию`)
					a(href="#") Выбрать бригаду
						+icon("arrow-right")
				+item(`4`,`Собственная служба сервиса`,`Оперативно решаем все возникшие в&nbsp;процессе эксплуатации проблемы. Вам никогда не&nbsp;придется искать сервис на&nbsp;стороне`)
				+item(`5`,`3&nbsp;года гарантии на&nbsp;монтаж`,`Установку будет делать опытная бригада и&nbsp;инженер, имеющий за&nbsp;плечами более 100 объектов`)
				+item(`6`,`Контроль качества`,`Каждый заказ проходит контроль качества в&nbsp;отделе ОКТ сразу после установки канализации. Ваша оценка качества имеет прямое влияние на&nbsp;вознагражение бригады`) 
	// end sComfort