:root {
	--animate-delay: 1.2s;
	--fontSizeBase: 14px;
	@include media-breakpoint-up(md) {
		--fontSizeBase: #{$em-base};

		--sPT: #{rem(80)};
		--sPB: #{rem(90)};
		--sTPB: #{rem(60)};
	}

	--sPT: #{rem(80 / 2)};
	--sPB: #{rem(90 / 2)};
	--sTPB: #{rem(40 / 2)};


		--swiperArrowSize: #{rem(68)};
		--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
		--swiperBorderColorDef: var(--bs-primary);
		--swiperColorDef: var(--bs-primary);
		--swiperBgDef: #ffffff;
	
		--swiperBorderColorDefHover: var(--bs-primary);
		--swiperColorDefHover: var(--bs-primary);
		--swiperBgDefHover: #ffffff;


	--chevron-down: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.00008 9.83333C6.86378 9.8336 6.73169 9.78613 6.62675 9.69916L3.12675 6.7825C3.00762 6.68348 2.93271 6.5412 2.91848 6.38695C2.90426 6.2327 2.9519 6.07912 3.05091 5.96C3.14993 5.84087 3.29221 5.76596 3.44646 5.75174C3.60071 5.73751 3.75429 5.78515 3.87341 5.88416L7.00008 8.4975L10.1267 5.9775C10.1864 5.92904 10.2551 5.89286 10.3288 5.87102C10.4025 5.84919 10.4798 5.84213 10.5562 5.85026C10.6326 5.8584 10.7067 5.88155 10.7741 5.9184C10.8416 5.95525 10.9011 6.00507 10.9492 6.065C11.0027 6.12498 11.0431 6.19534 11.0681 6.27169C11.0931 6.34803 11.102 6.4287 11.0943 6.50866C11.0866 6.58861 11.0625 6.66612 11.0235 6.73633C10.9845 6.80654 10.9314 6.86793 10.8676 6.91666L7.36758 9.73416C7.25961 9.80738 7.13022 9.8423 7.00008 9.83333Z' fill='%23C6CAD6'/%3E%3C/svg%3E%0A");
	--chevron-down-success: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.00008 9.83333C6.86378 9.8336 6.73169 9.78613 6.62675 9.69916L3.12675 6.7825C3.00762 6.68348 2.93271 6.5412 2.91848 6.38695C2.90426 6.2327 2.9519 6.07912 3.05091 5.96C3.14993 5.84087 3.29221 5.76596 3.44646 5.75174C3.60071 5.73751 3.75429 5.78515 3.87341 5.88416L7.00008 8.4975L10.1267 5.9775C10.1864 5.92904 10.2551 5.89286 10.3288 5.87102C10.4025 5.84919 10.4798 5.84213 10.5562 5.85026C10.6326 5.8584 10.7067 5.88155 10.7741 5.9184C10.8416 5.95525 10.9011 6.00507 10.9492 6.065C11.0027 6.12498 11.0431 6.19534 11.0681 6.27169C11.0931 6.34803 11.102 6.4287 11.0943 6.50866C11.0866 6.58861 11.0625 6.66612 11.0235 6.73633C10.9845 6.80654 10.9314 6.86793 10.8676 6.91666L7.36758 9.73416C7.25961 9.80738 7.13022 9.8423 7.00008 9.83333Z' fill='#{$success}'/%3E%3C/svg%3E%0A");

	--play: url("data:image/svg+xml,%3Csvg width='37' height='42' viewBox='0 0 37 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35 24.4641C37.6667 22.9245 37.6667 19.0755 35 17.5359L6.5 1.08141C3.83333 -0.458187 0.5 1.46632 0.5 4.54552V37.4545C0.5 40.5337 3.83333 42.4582 6.5 40.9186L35 24.4641Z' fill='white'/%3E%3C/svg%3E%0A");
	
	@include media-breakpoint-up(xl) {
		
		--bg-w: 55%;
	}
	@include media-breakpoint-up(sm) {
		
		--ellips: #{50%   120px};
		--ellips2: #{50%   180px};
		--bg-w: 65%;
	}
	--ellips: #{50%   100px};
	--ellips2: #{50%   140px};
	--bg-w: 85%;
}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

//
@include media-breakpoint-between(md, xl) {}


//
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

//
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}