.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-akar-icons_whatsapp-fill {
	font-size:(17/10)*1rem;
	width:(16/17)*1em;
}
.icon-arrow-left {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-arrow-right {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-basket {
	font-size:(24/10)*1rem;
	width:(22/24)*1em;
}
.icon-call {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-clock {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-compare {
	font-size:(24/10)*1rem;
	width:(25/24)*1em;
}
.icon-doc {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-eva_arrow-forward-outline {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-eva_bar-chart-fill {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-eva_bookmark-fill {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-eva_search-fill {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-fb {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-instagram {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-ion_mail {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-mail {
	font-size:(14/10)*1rem;
	width:(16/14)*1em;
}
.icon-map-tag {
	font-size:(19/10)*1rem;
	width:(15/19)*1em;
}
.icon-mark {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-phone {
	font-size:(15/10)*1rem;
	width:(13/15)*1em;
}
.icon-play {
	font-size:(42/10)*1rem;
	width:(37/42)*1em;
}
.icon-telegram {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-viber {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-vk {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-whatsapp {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
