mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.row-lg.row
				.col-xl-6
					+e.title
						+pic("main-2.jpg").img-rad.d-xl-none
						h1 Автономная канализация
							| 
							span под ключ
					+e.text 
						+e.text-head
							.h5.strong.text-danger Акция действует до 6 мая
							p Самый надежный и&nbsp;недорогой септик для семьи из&nbsp;3-5 человек #[span +] монтаж #[span +] материалы за&nbsp; #[strong 76&nbsp;400&nbsp;₽]
						ul 
							li Рассрочка без переплат
							li Повышенная гарантия
							li Монтаж со скидкой
							li Оплата по факту
					+e.row-sm.row 
						.col-sm-auto 
							+e.btn(href="#").slideme-animated.btn-success Узнать подробнее <br> условия акции
						.col-sm-auto.text-center
							+e.btn(href="#").text-success.px-0
								img(src="img/svg/doc.svg", alt="")
								| каталог лучших септиков
				.col-xl-6.text-xl-end
					+e.img-head
						+pic("main-1.jpg",'',0).img-rad.d-none.d-xl-block
						+pic("main-2.jpg",'',0).img-rad.d-none.d-xxl-block
						.img-head.d-xl-block.d-none
							img(src="img/svg/head.svg", alt="")
							img(src="img/svg/head-text.svg", alt="").img-circle
							//- +pic("head.png",'',0)
					+e.img-foot.d-none.d-sm-block
						.row
							.col-xxl-auto.col-xl-4.col-sm-auto.col-4
								+e.img-wrap-sm
									+e.label Комфорт
									+pic("main-3.jpg",'',0)
							.col-xxl-auto.col-xl-4.col-sm-auto.col-4
								+e.img-wrap-sm
									+e.label Дренаж
									+pic("main-4.jpg",'',0)
							.col-xxl-auto.col-xl-4.col-sm-auto.col-4
								+e.img-wrap-sm
									+e.label Водоподготовка
									+pic("main-5.jpg",'',0)
	// end headerBlock