// start .sertificates
.sertificates {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;
	.section-title {
		padding-bottom: calc(#{rem(50)} * 0.5);
		@include media-breakpoint-up(md) {
			padding-bottom: calc(#{rem(50)} * 0.65);
		}
		@include media-breakpoint-up(xl) {
			padding-bottom: #{rem(50)};
		}
		h2 {
			font-style: normal;
			font-weight: 800;
			@include rfs(48px);
			line-height: (67 / 48);
			margin-bottom: 0;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
	}

	&__img-wrap {
		display: block;
		margin-bottom: rem(20);
		width: 100%;
		max-width: rem(320);
		@include media-breakpoint-up(xxl) {
			margin-bottom: rem(30);
		}
	}
	h6 {
		font-weight: bold;
		line-height: (24 / 18);
		letter-spacing: 0.04em;
		text-align: center;
		text-transform: uppercase;
		color: $primary;
		margin-bottom: rem(6);
	}
	p {
		font-size: rem(16);
		line-height: (20 / 16);
		text-align: center;
		color: $secondary;
		max-width: 360px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sertificates
