mixin aside(data)
	// start aside
	+b.aside.section#aside&attributes(attributes)
		+e.head
			img(src="img/svg/doc.svg", alt="")
			| Каталог
		ul.d-xl-block.toggle-menu
			li: a(href="#")
				span   Топас #[strong от 48 000 руб.]  
				+e.count 24
			li: a(href="#")
				span   Астра #[strong от 48 000 руб.]  
				+e.count 24
			li: a(href="#")
				span   Евролос #[strong от 24 000руб.]  
				+e.count 24
			li: a(href="#")
				span   Термит #[strong от 36 000 руб.]  
				+e.count 24
			li: a(href="#")
				span   Тверь #[strong от 46 000 руб.]  
				+e.count 24
			li: a(href="#")
				span   Эргобокс #[strong от 46 000 руб.]  
				+e.count 24
			li: a(href="#")
				span   Чисток #[strong от 46 000 руб.]  
				+e.count 24
			li: a(href="#")
				span   Тополь #[strong от 46 000 руб.]  
				+e.count 24
			li: a(href="#")
				span   Накопитель #[strong от 46 000 руб.]  
				+e.count 24
			li: a(href="#")
				span   Эко-Гранд #[strong от 46 000 руб.]  
				+e.count 24
			li: a(href="#")
				span   Коловеси #[strong от 46 000 руб.]  
				+e.count 24
			li: a(href="#")
				span   Альта Био #[strong от 46 000 руб.]  
				+e.count 24
			li: a(href="#")
				span   Аквалос #[strong от 46 000 руб.]  
				+e.count 24
			li: a(href="#")
				span   Биодека #[strong от 46 000 руб.]  
				+e.count 24
			- for (var x = 0; x < 5; x++)
				li: a(href="#")
					span   Многобукво... #[strong от 46 000 руб.]  
					+e.count 24
			li.aside__more Показать еще 12 шт.
		block
	// end aside