mixin aside(data)
	// start aside
	+b.aside.section#aside&attributes(attributes)
		+e.head
			img(src="img/svg/doc.svg", alt="")
			| Каталог
		ul
			li: a(href="#")  Топас #[strong от 48 000 руб.]  
				+e.count 24
			li: a(href="#")  Астра #[strong от 48 000 руб.]  
				+e.count 24
			li: a(href="#")  Евролос #[strong от 24 000руб.]  
				+e.count 24
			li: a(href="#")  Термит #[strong от 36 000 руб.]  
				+e.count 24
			li: a(href="#")  Тверь #[strong от 46 000 руб.]  
				+e.count 24
			li: a(href="#")  Эргобокс #[strong от 46 000 руб.]  
				+e.count 24
			li: a(href="#")  Чисток #[strong от 46 000 руб.]  
				+e.count 24
			li: a(href="#")  Тополь #[strong от 46 000 руб.]  
				+e.count 24
			li: a(href="#")  Накопитель #[strong от 46 000 руб.]  
				+e.count 24
			li: a(href="#")  Эко-Гранд #[strong от 46 000 руб.]  
				+e.count 24
			li: a(href="#")  Коловеси #[strong от 46 000 руб.]  
				+e.count 24
			li: a(href="#")  Альта Био #[strong от 46 000 руб.]  
				+e.count 24
			li: a(href="#")  Аквалос #[strong от 46 000 руб.]  
				+e.count 24
			li: a(href="#")  Биодека #[strong от 46 000 руб.]  
				+e.count 24
			li: a(href="#")  Многобукво... #[strong от 46 000 руб.]  
				+e.count 24
			li.aside__more Показать еще 12 шт.
	// end aside