mixin topBanner(data)
	// start topBanner
	+b.topBanner
		+e.img-wrap.bg-wrap
			+pic(`about-1.jpg`,'bg').picture-bg
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut&nbsp;commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut&nbsp;commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Lorem ipsum
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut&nbsp;commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut&nbsp;commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Lorem ipsum
				
			.row
	// end topBanner