extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/aside/_aside.pug
include ../blocks/sQwiz/_sQwiz.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sTypes/_sTypes.pug
include ../blocks/sMistakes/_sMistakes.pug
include ../blocks/sComfort/_sComfort.pug
include ../blocks/sEvolution/_sEvolution.pug
include ../blocks/sLogos/_sLogos.pug
include ../blocks/sServises/_sServises.pug
include ../blocks/sFaq/_sFaq.pug
include ../blocks/sArticle/_sArticle.pug
include ../blocks/sPayment/_sPayment.pug
include ../blocks/sNeedHelp/_sNeedHelp.pug
include ../blocks/sitebar/_sitebar.pug

block variables
	- let  mainPage= null 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Cтатья'
	title= title
block pagecontent


	+mob-mnu()
	header.header
		+topLine()
		+top-nav()
	+pageHead()
		+breadcrumb('Блог', 'статья')
		h1 Название статьи
	.container
		.row 
			.col-aside.col-xl
				+sitebar
			.col-main.col-xl
				+sArticle
		//- +custom-alert(`svg/alert.svg`, `Платите по факту выполнения работы!`, `Оборудование в день доставки, монтаж по факту окончания.`, `Предоплату вносить НЕобязательно.`).alert-danger

	+sNeedHelp()
	+footer()




