extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
include ../blocks/aside/_aside.pug
//- include ../blocks/sQwiz/_sQwiz.pug
include ../blocks/sCatalog/_sCatalog.pug
//- include ../blocks/sTypes/_sTypes.pug
//- include ../blocks/sMistakes/_sMistakes.pug
//- include ../blocks/sComfort/_sComfort.pug
//- include ../blocks/sEvolution/_sEvolution.pug
//- include ../blocks/sLogos/_sLogos.pug
//- include ../blocks/sServises/_sServises.pug
//- include ../blocks/sFaq/_sFaq.pug
//- include ../blocks/Scomfort2/_Scomfort2.pug
include ../blocks/sPayment/_sPayment.pug
include ../blocks/sNeedHelp/_sNeedHelp.pug

block variables
	- let  mainPage= null 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Септики'
	title Каталог
block pagecontent


	+mob-mnu()
	header.header
		+topLine()
		+top-nav()
	+pageHead()
		+breadcrumb('каталог', title)
		h1= title
		+b.more-text--js
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Lorem ipsum dolor sit amet,
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Lorem ipsum dolor sit amet,
						a.link-more(href="#") Подробнее


	.section.container.pt-0
		.row 
			.col-aside.col-xl
				+aside().pt-0
			.col-main.col-xl
				+sCatalogHor()
					.col-12 
						button.btn.btn-light.w-100.mb-3.mt-2 показать еще 15 товаров
					.col-12 
						+pugin
				+sNeedHelpCatalog()
				.section.sContent 
					h2 Септики
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Lorem ipsum dolor sit amet,
	//- +headerBlock()
	//- +sQwiz
	//- +sTypes
	//- +sMistakes
	//- +sComfort
	//- +Scomfort2
	//- +sEvolution
	//- +sForm()
	//- +sLogos
	//- +sServises
	//- +sFaq
	+footer()