extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
include ../blocks/aside/_aside.pug
//- include ../blocks/sQwiz/_sQwiz.pug
include ../blocks/sCatalog/_sCatalog.pug
//- include ../blocks/sTypes/_sTypes.pug
//- include ../blocks/sMistakes/_sMistakes.pug
//- include ../blocks/sComfort/_sComfort.pug
//- include ../blocks/sEvolution/_sEvolution.pug
//- include ../blocks/sLogos/_sLogos.pug
//- include ../blocks/sServises/_sServises.pug
//- include ../blocks/sFaq/_sFaq.pug
//- include ../blocks/Scomfort2/_Scomfort2.pug
include ../blocks/sPayment/_sPayment.pug
include ../blocks/sNeedHelp/_sNeedHelp.pug

block variables
	- let  mainPage= null 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Септики'
	title= title
block pagecontent


	+mob-mnu()
	header.header
		+topLine()
		+top-nav()
	+pageHead()
		h1= title
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut&nbsp;ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut&nbsp;commodo sagittis, sapien dui mattis dui
		p
			a(href="#").link-more  Подробнее


	.section.container.pt-0
		.row 
			.col-aside.col-xl
				+aside().pt-0
			.col-main.col-xl
				+sCatalog('page')
					+e.col.col-xl-3.col-lg-4.col-sm-6
						+b.prod-item(href="#")
							+pic("banner-2.png",'bg',0)
							span.btn.btn-primary().w-100 подробнее
					- for (var x = 0; x < 10; x++)
						+e.col.col-xl-3.col-lg-4.col-sm-6
							
							+prodItem()
					+e.col.col-xl-3.col-lg-4.col-sm-6
						+b.prod-item(href="#")
							+pic("banner-3.png",'bg',0)
							span.btn.btn-primary().w-100 подробнее
					- for (var x = 0; x < 4; x++)
						+e.col.col-xl-3.col-lg-4.col-sm-6
							
							+prodItem()
					.col-12 
						button.btn.btn-light.w-100.mb-3.mt-2 показать еще 15 товаров
					.col-12 
						+pugin
				+sNeedHelp()
				.section 
					h2 Септики
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Lorem ipsum dolor sit amet,
	//- +headerBlock()
	//- +sQwiz
	//- +sTypes
	//- +sMistakes
	//- +sComfort
	//- +Scomfort2
	//- +sEvolution
	//- +sForm()
	//- +sLogos
	//- +sServises
	//- +sFaq
	+footer()