extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/aside/_aside.pug
//- include ../blocks/sQwiz/_sQwiz.pug
//- include ../blocks/sCatalog/_sCatalog.pug
//- include ../blocks/sTypes/_sTypes.pug
//- include ../blocks/sMistakes/_sMistakes.pug
//- include ../blocks/sComfort/_sComfort.pug
//- include ../blocks/sEvolution/_sEvolution.pug
//- include ../blocks/sLogos/_sLogos.pug
//- include ../blocks/sServises/_sServises.pug
//- include ../blocks/sFaq/_sFaq.pug
//- include ../blocks/Scomfort2/_Scomfort2.pug
include ../blocks/sPayment/_sPayment.pug
include ../blocks/sNeedHelp/_sNeedHelp.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sDescr/_sDescr.pug
include ../blocks/sSlider/_sSlider.pug
include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= 'prod-card-page'
	- let  bg= 'prod-card.png'

block title
	- let  title= 'КАРТОЧКА ТОВАРА'
	title= title
block pagecontent
	+mob-mnu()
	header.header
		+topLine()
		+top-nav()
	+pageHead()
		+breadcrumb(' Главная', 'Септики')
		h1 Юнилос Астра 5
	+sProdCard()
	+sDescr()
	+b.white-box
		+sSlider({
			title: 'Похожие товары',
			amount: 6,
		})
		+sSlider({
			title: 'Вы смотрели',
			amount: 2,
		})
	+sNeedHelp()
	+footer()