// start .sCatalog
.sCatalog {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
		position: relative;
		z-index: 2;
		.before{
			position: absolute;
			right: -12%;
			top: 20%;
			z-index: -1;
		}
		&__head{
			padding-top: rem(15);
			margin-bottom: rem(20);
			.row{
				--bs-gutter-x: 12px;
				// align-items: center;
			}
		}
		&__head-title{
			color: #858B9B;
			font-weight: 600;
			font-size: 18px;
			padding-top: 12px;
		}
		&__btn-head{
			@extend .btn;
			@extend .btn-light;
			background-color: #EDEDF0;
			font-size: rem(16);
			text-transform: none;
			font-weight: 500;
			@include media-breakpoint-up(xxxl) {
				padding: rem(10) rem(18);
			}
			padding: rem(10) rem(10);
			color: #858B9B;
		}

		&__wrap{
			background: #FFFFFF;
			border-radius: 40px;
			@include media-breakpoint-up(sm) {

				padding: rem(37 - 12) rem(33 - 12);
			}
			padding: rem(15) rem(10);
		}

		.more-link{
			text-transform: uppercase;
			font-size: $small;
			font-weight: bold;
			.icon{
				font-size: 1rem;
			}
		}
		&__panel{
			background-color: #fff;
			padding: rem(30);
			background-color: #fff;
			margin-bottom: 30px;
			min-height: calc(100% - 30px);
			border-radius: 20px;
			.icon{
				font-size: 1.2rem;
				&-filter{
					font-size: 1.6rem;
					color: $success;
				}
			}
			.form-select{
				// padding: 0;
				padding-top: 0;
				padding-bottom: 0;
				padding-left: 0;
				box-shadow: none;
				background-color: transparent !important;
				border: none;
				height: auto;
				width: auto;
				padding-right: 20px;
				background-position: right center;
				background-image: var(--chevron-down);
			}
		}
		&__show-var{
			color: $secondary;
			@include mt;
			cursor: pointer;
			.icon{
				fill: none;
				stroke: currentColor;
				stroke-width: 2px;
			}
			&:hover,
			&.active{
				color: $success;

			}
		}
		&__panel--toggle{
			// @extend .btn;
			// @extend .btn-outline-primary;
			// border-color: #fff;
			cursor: pointer;
			font-weight: bold;
			text-transform: uppercase;
			color: $primary;
			@include mt;

			span{
				margin-left: 12px;
			}
			.icon{ 
				fill: none;
				stroke: currentColor;
				// stroke-width: 2px; 
				color: $secondary;
				@include mt;
			}
			&:hover{
				background-color:   $primary;
				color: #fff;
				.icon{
					color: #fff;
				}
			}
		}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCatalog

.prod-item{
	padding: rem(12);
	display: flex;
	flex-direction: column;
	min-height: 100%;
	&__img-wrap{
		position: relative;

	}
	&__label{
		position: absolute;
		right: 12px;
		top: 12px;
		color: #fff;
		font-size: 13px;
		padding: rem(2) rem(12);
		background-color: var(--bg-color);
		border-radius: 16px;
		font-weight: 600;
	}
	picture{

		border-radius: 20px;
		overflow: hidden;
		margin-bottom: 15px;
	}
	&__img-wrap{
		
		picture{
			@include block(247,203);
			img{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
	table{
		width: 100%;
		font-size: 11px;
		margin-bottom: 23px;
		margin-top: 15px;
		color: #858b9b;
		text-transform: uppercase;
		font-weight: 600;
		img{
			margin-right: 15px;
		}
	}
	td{
		padding-bottom: 1px;
	}
	&__btn{
		@extend .btn;
		@extend .btn-success;
		width: 100%;
	}
	&__btn,
	.btn{
		padding: rem(20) rem(20);
	}
	&__title{
		position: relative;
	}
	&__add{
		position: absolute;
		right: 0;
		top: 0;
		.icon{
			font-size: 24px;
		}
		color: #c6cad6; 
		cursor: pointer;
		@include mt;
		&:hover{
			color: $primary;
		}
	}

	.btn{
		margin-top: auto;
	}
}

.fillter-block{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
	@include mt;

	&:not(.active){ 
		transform: translateX(100%);
		visibility: hidden;
	}
	&__head {
		text-transform: uppercase;
		font-weight: bold;
		font-size: rem(24);
		display: flex;
		align-items: center;
		position: relative;
		&::after{
			margin-left: auto;
			content: var(--close);
			cursor: pointer;
			// position: absolute;
			// right: 0;
			// @include a-cent1(y);
		}
		.icon {
			color: #C6CAD6;
			fill: transparent;
			stroke: currentColor;
			stroke-width: 2px;
			margin-right: 15px;
			font-size: 18px;
		}
	}
	&__inner{
		margin-left: auto;
		width: 100%;
		max-width: 507px;
		height: 100vh;
		background-color: #fff;
		border-radius: 20px 0px 0px 20px;
		display: flex;
		flex-direction: column;
	}
	&__head,
	&__body,
	&__foot{
		@include media-breakpoint-up(sm) { 
			padding: rem(40) rem(63);
		}
		padding: rem(20) rem(15);
		
	}
	&__foot{
		padding-top: 10px !important;
		padding-bottom: 10px !important;
	}
	&__head{
		@include media-breakpoint-up(sm) {
		padding-bottom: rem(20);
	}
	padding-bottom: rem(20);
	}
	&__body{
		flex-grow: 1;
		overflow-y: auto;
		position: relative;
	}

	.accordion-item{
		border-bottom: 1px solid #F5F5F7;
		
		&__head{
			font-size: rem(20);
			font-weight: 600;
			&:hover{
				color: $primary;
			}
			&::before{
				content:   var(--chevron-down);
				// @include a-cent(y);
				position: absolute;
				top: rem(10);
				right: 0;
				zoom: 1.6;
				@include mt;
			}
		}
		&.active {}
		&.active .accordion-item__head {
			&:before{
				transform: rotateX(180deg);
			}
		}
		&__head,
		&__body{
			padding-left: 0;
			// padding-right: 0;
		}
	}
}


.irs--round .irs-bar {
	top: 36px;
	height: 8px;
	background-color: $success;
}

.irs--round .irs-line{
	height: 8px;
}

.irs--round .irs-handle {
 
	border: 6px solid $success; 
}