
	// start .topLine
	.topLine {
			@include media-breakpoint-down(xxl) {
				background-color: #fff;
			}
		@include media-breakpoint-up(md) {
			
			--sPT: #{rem(32)} ;
			--sPB:  #{rem(22)};
		}
		--sPB:  #{rem(22)};
		--sPT: #{rem(22)} ;
		font-size: rem(13);
		// --sTPB: ;
		.row{
			align-items: center;
			justify-content: space-between;
			@include media-breakpoint-down(md) {
				--bs-gutter-x: 20px;
			}
		}
		&__btn-search{
			color: $secondary;
			.icon{
				font-size: 2em;
			}
		}
		&--page{
			@include media-breakpoint-up(md) {
			background: none !important;
			}
			&::before{
				display: none;
			}
		}
		
		 .search-block{
			 @include media-breakpoint-up(xxxl) {
				 margin-top: 0;
			 }
			 margin-top: rem(20);
		 }
		 &__search-wrap{
			 @include media-breakpoint-down(md) {
					display: none;
			}
		 }
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-down(md) {
		background-color: #fff;
	}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
 
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {} 

} // end.topLine

.place-block{
	position: relative;
	font-size: rem(13);
	position: relative;
	display: flex;
	// padding-bottom: 20px;
	justify-content: space-between;
	@include media-breakpoint-up(md) {
		display: block;
		padding-bottom: 0;
		&::before{
			content: '';
			position: absolute;
			left: -30px;
			@include a-cent1(y);
			width: 1px;
			height: 80%;
			background-color: $secondary;
		}
		max-width: rem(200);
	}
	padding-left: rem(20);
	.icon{
		font-size: 1rem;
		color: #c6cad6;
		position: absolute;
		left: 0;
		top: 0;
	}
	&__head{
		a{
				border-bottom: 1px dashed;
				color: $body-color;
				// @extend .text-body;
				font-weight: 600;
				&:hover{
					color: $primary;
					border-color: transparent;
				}
		}

	}
	&__body{
		color: #858B9B;
		@include media-breakpoint-down(md){
			text-align: right;
			max-width: rem(150);
		}
	}
}

.search-block{
	position: relative;
	 @include media-breakpoint-up(xxxl){
		 width: rem(304);
		}
	&__input{
		font-size: rem(13);
		padding:  rem(23) rem(40) rem(23) rem(28);
		border-color: #fff;
	}
	button{
		position: absolute;
		@extend .btn;
		color: #c6cad6;
		padding: 5px;
		right: rem(15);
		@include a-cent1(y);
		.icon{
			font-size: rem(24);
		}
	}
}

.compare-block{
	display: flex;
	align-items: center;
	text-transform: uppercase;
	max-width: rem(160);
	line-height: 1.2;
	font-weight: bold;
	@include media-breakpoint-up(md) {
		margin-right: rem(20);
	}
	position: relative;
	color: $body-color;
	font-size: 14px;
	&__count{
		position: absolute;
		left: 100%;
		// @include media-breakpoint-down(md) {
		top: rem(-5);
		color: #C6CAD6;
		font-weight: 600;
		font-size: 15px;
	}
	
	.icon{
		font-size: rem(36); 
		color: #1cb4db;
		flex:  0 0 auto;
	}
	&__text{
	}
}

.addr-block{
	position: relative;
	padding-left: rem(36 + 19);
	color: #858B9B;
	&__icon-wrap{
		position: absolute;
		left: 0;
		top: 0;
		width: rem(36);
		height: rem(36);
		border-radius: 50%;
		// @extend .btn;
		padding: 0;
		background-color: #fff;
		display: flex; 
		justify-content: center;
		align-items: center;
		// c$prim
	}
	.icon{
		font-size: 1rem;
			flex: 0 0 auto;
	}
	&__mails{
		font-weight: bold;
		@extend .text-body;
	}
}

.contact-block{
	position: relative;
	.align-items-center{
		flex-grow: 1;
	}
	position: relative;
	z-index: 2;
	@include media-breakpoint-down(md) {
		display: flex;
		align-items: center;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-bottom: 10px;
		&::before{
			z-index: -1;
			content: '';
			position: absolute;
			top: 0;
			height: 100%;
			left: -50vw;
			width: 200vw;
			background: #F5F5F7;
		}
		.contact-block__tel{
			flex-grow: 1;
		}
	}
	@include media-breakpoint-up(sm) {
		margin-top: 20px;
	}
	display: flex;
		@include media-breakpoint-up(lg) {
			// padding-left: rem(36 + 19);
			margin-top: 0;
		}
	&__btn{
		@extend .btn;
		@extend .btn-success;
			@include media-breakpoint-up(lg) {

				// position: absolute;
				// left: 0;
				// top: 0;
			}
		width: rem(36);
		height: rem(36);
		border-radius: 50%; 
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		padding: 0;
		
		.icon{
			font-size: 1rem;
			flex: 0 0 auto;
		}
	}
	&__tel{
		color: $body-color;
		font-weight: bold;
		font-size: rem(18);
	}
	&__call{
		font-weight: bold;

		.icon{
			font-size: rem(14);
			margin-right: rem(5);
		}
	}
}