.top-nav {
	.row{
		align-items: center;
	}

	&__link{
		@extend .text-success;
		display: inline-flex;
		align-items: center;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 12px;
		.icon{
			font-size: 14px;
			margin-right: 5px;
		}
	}
	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	@include media-breakpoint-down(xs) {}
}


