include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug


mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	
mixin search()
	+b.search-block
		form
			+input("Поиск по товарам")
			button 
				+icon("eva_search-fill")

mixin pageHead()
	+b.page-head
		.container
			block

mixin custom-alert(i, ...items)
	+b.custom-alert.alert(role='alert')&attributes(attributes)
		+e.content
			+e.img-wrap
				img(src=`img/${i}`, alt="")
			+e.text
				each item in items
					span!= item

mixin advantage-item(i, t)
	+b.advantage-item
		+e.img-wrap
			img(src=`img/svg/${i}` alt="")
		+e.text!= t


mixin range(c1, c2)
	.range-wrap.price_slider_amount
		.row
			.col-6 
				.form-group
					+b.INPUT.input_from.form-control.form-control-sm(type="text"  )  
			.col-6
				.form-group
					+b.INPUT.input_to.form-control.form-control-sm(type="text"  ) 
		input.range-slider.slider-js(type='text'  data-min= c1  data-max= c2)