mixin sOurWorks(data)
	// start sOurWorks
	+b.SECTION.sOurWorks.section#sOurWorks&attributes(attributes)
		.container
			.rounded-inner
				+b.advantage
					.row
						.col-xl-6
							.section-title
								h2 В&nbsp;95&nbsp;случаях из 100 монтаж производится без спец. техники. #[br] Ваш ландшафт остается в #[span.text-primary первозданном виде]
							.row
								.col-lg-6.d-flex.align-items-center
									+e.item
										+e.img-wrap
											img(src="img/svg/our-works-1.svg" alt="")
										+e.text Все рабочие проходят обучение и аттестацию каждые 6 месяцев
								.col-lg-6.d-flex.align-items-center
									+e.item
										+e.img-wrap
											img(src="img/svg/our-works-2.svg" alt="")
										+e.text Имеют гражданство Российской Федерации

						.col-xl-6
							+e.wrapper
								+e.video.bg-wrap
									+pic("our-works-bg.png",'bg').picture-bg
								+e.check
	// end sOurWorks