// start .sArticle
.sArticle {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;

	padding-top: calc(var(--sPT) * 1.15);
	padding-bottom: 0;
	margin-bottom: rem(50);

	background-color: #fff;
	border-radius: 40px;
	@include media-breakpoint-up(xxxl) {
		padding-left: rem(118);
		padding-right: rem(110);
	}
	
	@include media-breakpoint-up(xxl) {
		padding-left: rem(40);
		padding-right: rem(40);
	}
	padding-left: rem(20);
	padding-right: rem(20);


	h2, .h2 {
		@extend .h3;
		font-weight: 800;
		margin-bottom: rem(50);
	}

	.section-title {
		padding-bottom: 0;
		// padding-bottom: calc(var(--sTPB) / 1.5);
	}

	h4, .h4 {
		margin-bottom: rem(45);

	}

	p {
		line-height: 160%;
		font-weight: 500;
		@include rfs(20px);
		margin-bottom: rem(49);
		
	}


	&__cardRow {
	}
	&__imgWrap {
		// @include block(915, 409);

		img {
		 border-radius: 20px;
		 margin-bottom: rem(50);
			// @include a-cent;
			// object-fit: cover;
		}
	}
	&__imgDescr {
		color: #858B9B;
		margin-bottom: rem(50);
	}

	&__slider-wrap {
		position: relative;
		margin-bottom: rem(30);
	}
	&__slider {
		max-width: rem(704);
		margin-left: auto;
		margin-right: auto;
	}
	&__slideImg {
		border: 0.780488px solid #F1F1F1;
		display: block;
		border-radius: 31.2195px;
		position: relative;
		overflow: hidden;
	}
	&__btn {}
	&__ {}
	&__ {}
	&__ {}
	&__ {}
	&__ {}
	&__ {}

	&__section {
		padding-bottom: rem(97);
	}

	input {
		font-size: $em-base;
	}

	.form-wrap {
		@include media-breakpoint-up(sm) {

			padding: rem(59) rem(61) rem(40);
			// margin-bottom: rem(40);
			border: 1px solid #f1f1f1;
		}
		border-radius: 40px;

		&__row {
			padding-bottom: rem(30);
		}
		&__col {
			padding-bottom: rem(20);
			display: flex;
			align-items: center;
		}
		&__iconWrap {
			flex-shrink: 0;
			margin-right: rem(25);
			img {
				max-width: 50px;
			}
		}
		&__txt {
		}
		&__formRow {
			@include roww(20px);
		}
		&__btn {
			width: 100%;
		}
		&__input {
			background: #F5F5F7;
			font-weight: 500;
		}
		&__input-wrap {
		}
	}

	ul {
		list-style: none;
		margin-bottom: rem(40);
		li {
			position: relative;
			padding-left: rem(20);

			&::before {
				content: '●';
				position: absolute;
				top: em(6px);
				left: 0;
				font-size: em(10);
				color: $primary;
			}
		}
	}
	h2{

	}
	table {
		width: 100%;
		tr {
			&:nth-child(odd) {
				td{
					background: #F9F9F9;
				}
			}
		}
		td {
			// padding: rem(70);
			height: rem(70);
			padding: rem(5);
			font-weight: bold;
		}
	}

	.custom-alert__text{
		font-weight: normal;
		font-size: rem(18);
	}

	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}


} // end.sArticle


.serviceCard {
display: flex;
flex-direction: column;
height: calc(100% - #{rem(38)});
margin-bottom: rem(38);

	&__imgWrap {
		border-radius: 20px;
		overflow: hidden;
		@include block(280,216);
		margin-bottom: rem(27);
		img {
			width: 100%;
			height: 100%;
			@include a-cent;
			object-fit: cover;
		}
	}
	&__title {
		font-size: $h6-font-size;
		margin-bottom: rem(20);
		strong {}
	}
	ul {
		margin-bottom: 20px;
		color: $secondary;
		li {}
	}
	&__btn {
		margin-top: auto;
	}
}