//- WP menu
mixin mnu()
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		li.menu-item: a(href="#" itemprop="url") СЕПТИКИ
		li.menu-item: a(href="#" itemprop="url") ПОГРЕБА
		li.menu-item.menu-item-has-children
			a(href="#" itemprop="url") УСЛУГИ И ЦЕНЫ
			ul.sub-menu
				-
					var subnav= { 
						"Строительство загородных домов":"#",
						"Отделка загородных домов":"#",
						"Покраска деревянных домов":"#",
						"Штукатурные фасады загородных домов":"#" ,
						}
				each sublinkPatch, sublinkName in subnav
					li.menu-item(itemprop="item" ): a(href= sublinkPatch itemprop="url")= sublinkName
		li.menu-item: a(href="#" itemprop="url") АКЦИИ
		li.menu-item: a(href="#" itemprop="url") КАЛЬКУЛЯТОР 
//- menu
//- WP menu
mixin mnu2()
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		li.menu-item: a(href="#" itemprop="url") ОТЗЫВЫ
		li.menu-item.menu-item-has-children
			a(href="#" itemprop="url") НАШИ РАБОТЫ
			ul.sub-menu
				-
					var subnav= { 
						"Строительство загородных домов":"#",
						"Отделка загородных домов":"#",
						"Покраска деревянных домов":"#",
						"Штукатурные фасады загородных домов":"#" ,
						}
				each sublinkPatch, sublinkName in subnav
					li.menu-item(itemprop="item" ): a(href= sublinkPatch itemprop="url")= sublinkName
		li.menu-item.menu-item-has-children
			a(href="#" itemprop="url") КЛИЕНТАМ
			ul.sub-menu
				each sublinkPatch, sublinkName in subnav
					li.menu-item(itemprop="item" ): a(href= sublinkPatch itemprop="url")= sublinkName
		li.menu-item.menu-item-has-children
			a(href="#" itemprop="url") О КОМПАНИИ
			ul.sub-menu 
				each sublinkPatch, sublinkName in subnav
					li.menu-item(itemprop="item" ): a(href= sublinkPatch itemprop="url")= sublinkName
//- menu