mixin item-sos(icon, a='#')
	+e.A.item(href= a target="_blank")
		if block
			block
		else
			+icon(icon)
//- social buttons
mixin soc()
	+b.soc
		if block
			block
		else
			+item-sos()
				+pic(`soc-1.png`,'',0)
			+item-sos()
				+pic(`soc-2.png`,'',0)
			+item-sos()
				+pic(`soc-3.png`,'',0)
			+item-sos()
				+pic(`soc-4.png`,'',0)
			+item-sos()
				+pic(`soc-5.png`,'',0)
			+item-sos()
				+pic(`soc-6.png`,'',0)
			+item-sos()
				+pic(`soc-7.png`,'',0)

//- /social buttons 